@charset "UTF-8";

header {
	margin: 0 auto;
	text-align: center;
}

#menu {
	display: flex;
	justify-content: center;
}

#mainBtn {
	margin: 20px;
}

#search {
	width: 400px;
	height: 20px;
	display: flex;
	justify-content: space-evenly;
	padding: 5px 10px;
	border: 1.5px solid black;
	border-radius: 4px;
	margin: 0 10px
}


#search input {
	flex: 1;
}

#searchInput {
	border: none;
	outline: 0px;
}

section {
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

section table {
	width: 1000px;
	margin: 0 auto 50px auto;
	border: 1px solid black;
	border-collapse: collapse;
}

section th {
	background-color: #464648;
	color:white;
	padding: 10px;
}
section td {
	text-align: center;
	border: none;
	border-bottom: 1px solid grey;
	padding: 5px;
}

#col td {
	background-color: lightgrey;
	padding: 5px;
	border-bottom: 1px solid black;
}

section button {
	font-size: 1em;
	width: 600px;
	padding: 5px;
	margin: 0;
	background-color: inherit;
	border: none;
	white-space: nowrap;
	overflow: hidden;
}

section .faq_content {
	display: none;
	width: 95%;
	margin: 10px auto;
	border-top:1.8px solid #999999;
	text-align: center;
	padding: 8px 5px 12px 5px;
	background-color: #fcfcfc;
}