/* modify_style.css */
#regForm input {
	outline: none;
}

#regForm input[type="text"], #regForm input[type="password"], #regForm input[type="tel"],
	#regForm select {
	width: calc(100% - 110px); /* 버튼 공간을 제외한 나머지 너비 */
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

button,input[type="submit"] {
	padding: 8px 16px;
	border: none;
	background-color: #2196F3;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
}

#regForm button#searchAddressButton {
	padding: 8px 16px;
	border: none;
	background-color: #2196F3;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
}

#regForm button {
	padding: 12px 24px;
	border: none;
	background-color: #4CAF50;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
}

#regForm button#delete {
	background-color: #f44336;
}

#regForm button#cancel {
	background-color: #607d8b;
}

#regForm button#modifyProcess {
	background-color: #ffc107;
}

#regForm button:hover {
	opacity: 0.8;
}

#regForm .label2 {
	text-align: center;
}

#regForm .center {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

body {
	font-family: Arial, sans-serif;
	background-image: url(../image/cloth.jpg);
	background-size: cover;
}

.box {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 8px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 800px;
	margin: auto; /* 이 부분이 가운데 정렬을 담당합니다 */
	padding: 30px;
}

.box table {
	width: 100%;
}

.box td {
	padding: 10px 5px;
}

.box label {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 5px;
}

.box input[type="text"], .box input[type="password"], .box input[type="tel"],
	.box select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

.box button#searchAddress {
	background-color: #2196F3;
}

.box button#checkId {
	background-color: #ffc107;
}

.box button:hover {
	opacity: 0.8;
}

.box .label2 {
	text-align: center;
}