#writeForm, editForm {
	width: 600px;
	margin: 0 auto;
	text-align: right;
}

#writeBDiv, #editBDiv {
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

#writeForm table {
	width: 100%;
}

#editForm table {
	width: 100%;
}